#grid-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 0px;
    height: 640px;
    width: 640px;
    border: solid black 2px;
    overflow: hidden;
}

.grid-row {
    display: flex;
    gap: 0px;
    flex: 1 1 auto;
}

.individualSquare {
    display: flex;
    border: solid black 1px;
    flex: 1 1 auto;
}


#button-container {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
    margin: 0px 100px 10px 100px;
}

#new-custom-grid-button {
    display: flex;
}

button {
    width: 100px;
}